body {
    background-color: #171916;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.navbar {
    border-bottom: 2px solid #1f201e;
    background-color: #171916;
}

.nav-item {
    font-size: large;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #1f201e;
    border-color: #D6AA39;
}

#logo-heading {
    font-size: 220%;
}
#element-ui {
    max-width: 25%;
    margin-left: 0.5vw;
}

.gold {
    color: #D6AA39;
}

.card-body a {
    text-decoration: none;
    color: #ffffff;
}

.auth-box {
    background-color: #ffffff;
    color: #171916;
    border-radius: 5%;
    font-size: 120%;
    font-weight: 120%;
}

.in-text-link {
    font-weight: 600;
    color: #171916;
    text-decoration: underline 2px #D6AA39;
}

.icon {
    font-size: 120%;
}

.up-icon {
    color: #53a653;
}

.down-icon {
    color: #972424
}

.comment-icon {
    color: #5995ED;
}

.btn-create-post {
    background-color: #D6AA39;
    color: #171916;
}

#greeting-card {
    background-color: #ffffff;
    color: #171916;
    border-color: #ffffff;
}

.btn-gold {
    font-size: 150%;
    background-color: #D6AA39;
    color: #171916;
    font-weight: 600;
}

.btn-gold:hover {
    border: 1px solid #D6AA39;
    background-color: #171916;
    color: #D6AA39;
}

.page-link {
    font-size: 150%;
    color: #D6AA39;
}

.page-link:hover {
    background-color: #D6AA39;
    color: #171916;
}

.page-link:focus {
    color: #D6AA39;
    box-shadow: none;
}

.forgot-pw-link {
    text-decoration: none;
    font-weight: 600;
    color: #171916!important;
    text-decoration: underline 2px #D6AA39;
}

#buffer {
    margin-bottom: 10vh;
}

.footer {
    background-color: #171916;
    border-top: 2px solid #1f201e;
}

.socials {
    list-style-type: none;
}

.socials i {
    font-size: 170%;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    #element-ui {
        max-width: none;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}