body {
    background-color: #171916;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.navbar {
    border-bottom: 2px solid #1f201e;
    background-color: #171916;
}

.nav-item {
    font-size: large;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #1f201e;
    border-color: #D6AA39;
}

.gold-heading {
    color: #D6AA39;
}

.card-body a {
    text-decoration: none;
    color: #f3fcf0;
}

#buffer {
    margin-bottom: 5%;
}

.footer {
    background-color: #171916;
    border-top: 2px solid #1f201e;
}

.socials {
    list-style-type: none;
}

.socials i {
    font-size: 170%;
    color: #f3fcf0;
}