body {
    background-color: #171916;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

#logo-text {
    padding-left: 10px;
}

.navbar-toggler {
    background-color: #1f201e;
    border-color: #D6AA39;
}

.gold-heading {
    color: #D6AA39;
}
