{% load static %}

{% load cloudinary %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate-It Goodnews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" async></script> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg mb-3">
        <div class="container-fluid">
            <a class="navbard-brand heading gold-heading h2 m-2" id="logo-heading" href="/">
                <img class="rounded-2 d-inline-block mb-1" src="https://res.cloudinary.com/dogelhd9j/image/upload/v1703512206/logo-rectangle_c7ktno.jpg" alt="Rate-It Logo" width="40" height="32"><span class="ms-3">Rate-It Goodnews</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Added segment from the default suggested Bootstrap Navbar adapted to suit Rate-It requirements. Avaiable on: https://getbootstrap.com/docs/5.0/components/navbar/-->
              <div class="collapse navbar-collapse justify-content-end me-5" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item me-2">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link" href="#">Rules</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link" href="#">Register/Profile</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link" href="#">Login/Logout</a>
                  </li>
        </div>
    </nav>
    <main class="flex-shrink-0 main-bg">
      {% block content %}

      {% endblock content %}
    </main>
    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row align-items-center py-3">
          <div class="col d-none d-md-block text-center"></div>
          <div class="col text-center socials">
            <a href="https://reddit.com/" target="_blank" rel="noopener"
                aria-label="Visit our Reddit page (opens in a new tab)"><i class="fa-brands fa-reddit mx-2"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noopener"
                aria-label="Visit our Twitter (opens in a new tab)"><i class="fa-brands fa-twitter mx-2"></i></a>
            <a href="https://patreon.com/" target="_blank" rel="noopener"
                 aria-label="Support us through Patreon (opens in a new tab)"><i class="fa-brands fa-patreon mx-2"></i></a>
            <a href="https://youtube.com" target="_blank" rel="noopener"
                aria-label="Check out our YouTube page (opens in a new tab)"><i class="fa-brands fa-youtube mx-2"></i></a>
          </div>
          <div class="col text-end">
            info@rate-it-goodnews.com <br>Rate-It Inc.
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6bd5aed0b5.js" crossorigin="anonymous"></script>
  </body>
</html>

 