{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="card" id="greeting-card">
        <div class="card-body">
            <h5 class="card-title"> Greetings!</h5>
            <p class="card-text">Welcome to Rate-It Goodnews. <strong>THE</strong> place to find out what good things are going on in the world!</p>
        </div>
    </div>
</div>

<!-- Masonry styling derived form walkthrough project and Geeks for Geeks: https://www.geeksforgeeks.org/bootstrap-5-cards-masonry/-->
<div class="container"> 
    <div class="row mt-3" data-masonry='{"percentPosition": true }'>
        <!-- Create a card for every post ins the post_list. Then populates the card with thepost data.-->
        {% for post in post_list %}
        <div class="col-md-6">
            <div class="card m-auto mb-3 md-4">
                <div class="card-body">
                    <a href="#">
                        <h3 class="card-title"><strong>{{ post.title }}</strong></h3>
                        <h6 class="gold-heading">User: {{ post.user }} | {{ post.created_on }}</h5>
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        <p class="card-text pt-2">{{ post.excerpt }}</p>
                    </a>
                    <hr>
                    <i class="far fa-heart"></i> {{ post.number_of_post_likes }}
                    <span class="px-2">|</span>   
                    <i class="fa-regular fa-comment"></i> {{ post.comments.count }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="buffer"></div>
</div> 

{%endblock%}