{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="float-xl-end w-auto" id="element-ui"> 
        <div>
            <button class="btn btn-lg btn-create-post mb-2 w-100"><strong>Create post</strong></button>
        </div>
        <div class="card shadow-lg" id="greeting-card">
            <div class="card-body">
                <h5 class="card-title"> Greetings!</h5>
                <p class="card-text">Welcome to Rate-It Goodnews. <strong>THE</strong> place to find out what good things are going on in the world!</p>
            </div>
        </div>
    </div>
</div>

<!-- Masonry styling derived form walkthrough project and Geeks for Geeks: https://www.geeksforgeeks.org/bootstrap-5-cards-masonry/-->
<div class="container"> 
    <div class="row mt-3" data-masonry='{"percentPosition": true }'>
        <!-- Create a card for every post ins the post_list. Then populates the card with thepost data.-->
        {% for post in post_list %}
        <div class="col-md-6">
            <div class="card shadow m-auto mb-3 md-4">
                <div class="card-body">
                    <a href="{% url 'post_page' post.slug %}">
                        <h3 class="card-title"><strong>{{ post.title }}</strong></h3>
                        <h6 class="gold-heading">Posted by {{ post.user }} {{ post.created_on|timesince }} ago</h6>
                        {% if "placeholder" in post.featured_image.url %}
                        <!-- Remains empty -->
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                        <p class="card-text pt-2">{{ post.excerpt }}</p>
                    </a>
                    <hr>
                    <i class="fa-regular fa-circle-up icon up-icon"></i> {{ post.number_of_post_likes }}
                    <span class="px-2">|</span>   
                    <i class="fa-regular fa-comment icon comment-icon"></i> {{ post.comments.count }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination mt-5 justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-lg heading gold-heading">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-lg heading gold-heading"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div id="buffer"></div>
</div> 

{%endblock%}