{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="float-xl-end w-auto" id="element-ui">
        <div>
            <button class="btn btn-lg btn-create-post mb-2 w-100"><strong>Create post</strong></button>
        </div>
        <div class="card shadow-lg" id="greeting-card">
            <div class="card-body">
                <h5 class="card-title">Greetings!</h5>
                <p class="card-text">Welcome to Rate-It Goodnews. <strong>THE</strong> place to find out what good
                    things are going on in the world!</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div>
        <h1>{{ post.title }}</h1>
        <h6 class="gold-heading">User: {{ post.user }} | {{ post.created_on }}</h6>
    </div>
    <div>
        {% if "placeholder" in post.featured_image.url %}
        <!-- Remains empty -->
        {% else %}
        <img src=" {{ post.featured_image.url }}">
        {% endif %}
    </div>
    <div>
        <p>{{ post.content | safe }}</p>
    </div>
</div>

<!-- Repurposed from the walkthrough project "Codestar" -->
<div class="container">
    <i class="far fa-heart"></i> {{ post.number_of_post_likes }}
    <span class="px-2">|</span>  
    {% with comments.count as total_comments %}
    <i class="fa-regular fa-comment"></i> {{ comments.count }}
    {% endwith %}
    <hr>
    <div class="row mx-1">
        <div class="col-md-6 card mb-4  mt-3 ">
            <div class="card-body">
                <h3 class="card-title">Comments:</h3>
                {% for comment in comments %}
                <div>
                    <hr>
                    <p>
                        {{ comment.user }}
                        <span class="text-muted">
                            {{ comment.created_on }}
                        </span> wrote:
                        <div class="d-inline-block float-end">
                            <i class="far fa-heart"></i> {{ comment.number_of_likes_comment }}
                        </div>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-md-5 card mb-4 mt-3">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>
{%endblock%}