{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="float-xl-end w-auto" id="element-ui">
        <div>
            <button class="btn btn-lg btn-create-post mb-2 w-100"><strong>Create post</strong></button>
        </div>
        <div class="card shadow-lg" id="greeting-card">
            <div class="card-body">
                <h5 class="card-title">Greetings!</h5>
                <p class="card-text">Welcome to Rate-It Goodnews. <strong>THE</strong> place to find out what good
                    things are going on in the world!</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div>
        <h1>{{ post.title }}</h1>
        <h6 class="gold-heading">User: {{ post.user }} | {{ post.created_on|timesince }}</h6>
    </div>
    <div>
        {% if "placeholder" in post.featured_image.url %}
        <!-- Remains empty -->
        {% else %}
        <img src=" {{ post.featured_image.url }}">
        {% endif %}
    </div>
    <div>
        <p>{{ post.content | safe }}</p>
    </div>
</div>

<!-- Repurposed from the walkthrough project "Codestar" -->
<div class="container">
    <div class="d-flex align-items-center">
        <i class="fa-regular fa-circle-up icon up-icon me-2"></i> {{ post.number_of_post_likes }} <i class="fa-regular fa-circle-down icon down-icon ms-2"></i>
        <span class="px-2">|</span>  
        {% with comments.count as total_comments %}
        <i class="fa-regular fa-comment icon comment-icon me-1"></i> {{ comments.count }} 
        {% endwith %}
        <div class="ms-auto">
            <i class="fa-regular fa-flag icon"></i>
        </div>
    </div>
    

    <hr>
    <div class="row mx-1">
        <div class="col-md-6 card mb-4  mt-3 ">
            <div class="card-body">
                <h3 class="card-title">Comments:</h3>
                {% for comment in comments %}
                <div>
                    <hr>
                    <p>
                        {{ comment.user }}
                        <span class="text-muted"> {{ comment.created_on|timesince }} </span> wrote:<span class="d-inline-block float-end"><i class="fa-regular fa-flag icon"></i></span>
                        <div class="d-inline-block float-end">
                            <i class="fa-regular fa-circle-up icon up-icon me-1"></i> {{ comment.number_of_likes_comment }} <i class="fa-regular fa-circle-down icon down-icon ms-1"></i>
                        </div>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-md-5 card mb-4 mt-3">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>
{%endblock%}